<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset confirmation</title>
</head>

<body>
    <div class="container jumbotron">
        <strong class="display-3 mb-4">Please enter your new password twice so we can verify you typed it in
            correctly.</strong>
        <form class="pt-3" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Chnage my password" class="btn btn-success">
        </form>
    </div>
</body>

</html>