{% extends 'userapp/base.html' %}
{% load static %}

{%block title %}Reset Password{% endblock  %}

{% block content  %}
<div class="container jumbotron text-justify">
    <h1 class="display-4">Reset Password</h1>
    <form id="login_form" class="form" method="post">
        {% csrf_token %}

        {% if form.email.errors %}`enter code here`
        <div class="message red-gradient">{{ form.email.errors }}</div><br />
        {% endif %}

        <!-- for security reasons -->
        <p><label for="id_email">Email address:</label> <input type="text" name="email" class="form-control "
                maxlength="255" required="" id="id_email"></p>
        <!-- rendering form as paragraph -->
        <input type="submit" class="btn  btn-outline-info" value="Reset my password">
    </form>
    <p><a class="px-2 mx-2 btn btn-link text-decoration-none" href="{%url 'register' %}">Not a Member?</a>

</div>
{% endblock %}