{% extends 'userapp/base.html' %}
{% load static %}

{%block title %}Enter new password{% endblock  %}

{% block content  %}
<div class="container jumbotron text-justify">
    <h1 class="display-4">Enter new password </h1>
    <form id="login_form" class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <!-- for security reasons -->
        {{form.as_p}}
        <!-- rendering form as paragraph -->
        <input type="submit" class="btn  btn-outline-info" value="Change my password">
    </form>

</div>
{% endblock %}

<!-- template_name="userapp/password_reset_confirm.html" -->