@media screen and (max-width: 1170px) {

    .user-page,
    .user-page-footer,
    .user-page-header {
        padding: 0px 45px;
    }

    .offer-content {
        background-image: url(../images/offer-img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 9px 180px;
    }

    .offer-content h2 {
        font-size: 20px;
    }

    .offer-content p,
    .offer-content a {
        font-size: 13px;
    }

    .campaign-content {
        top: 40%;
        left: 5%;
    }

    .campaign-content h2 {
        font-size: 15px;
    }

    .campaign-content a {
        font-size: 10px;
    }

    .big-images img {
        display: block;
        width: 350px;
    }

    .thumbs img {
        width: 125px;
        padding: 10px 0px;
        position: relative;
    }

    .product-info h4 {
        font-size: 20px;
    }

    .product-info p {
        font-size: 15px;
    }

    .user-page-content {
        min-height: auto;
    }

    .selector .size-selector {
        display: block !important;
    }

    .size {
        width: auto;
    }

    .size .dropdown-menu.show {
        width: 100%;
        border-radius: 0;
    }

    .quantity .dropdown-menu.show {
        width: 100%;
    }

    .browse-page {
        margin-left: 210px;
    }

    .side-nav {
        background-color: var(--slider-white-color);
        height: 100%;
        position: sticky;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .look-details-explore .item-1 a,
    .look-details-explore .item-2 a {
        font-size: 12px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1170px) {
    .zoomContainer {
        left: 70px !important;
    }
}

@media screen and (max-width: 991px) {
    .dropdown-menu.show {
        margin-left: 0;
    }

    .user-list {
        position: absolute;
        top: 20px;
        right: 10%;
        padding-right: 0px;
    }

    .navbar-toggler {
        position: absolute;
        top: 25px;
        right: 5%;
    }

    header,
    main,
    footer {
        padding: 0px 45px;
    }

    .registration-form {
        margin: 40px auto;
    }

    .offer-content {
        background-image: url(../images/offer-img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 9px 180px;
    }

    .offer-content h2 {
        font-size: 20px;
    }

    .offer-content p,
    .offer-content a {
        font-size: 13px;
    }

    .campaign-content h2 {
        font-size: 15px;
    }

    .campaign-content a {
        font-size: 10px;
    }

    .heading-filter {
        display: none;
    }

    #overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: rgba(0, 0, 0, .5);
    }

    .side-nav {
        position: absolute;
        left: -100%;
        top: 102px;
        bottom: 0;
        opacity: 0;
        right: 0;
        visibility: hidden;
        z-index: 999;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
    }

    .filter-btn {
        position: relative;
        z-index: 2;
        font-size: 15px;
    }

    .browse-page {
        width: 100%;
        flex: 0 0 100%;
    }

    .side-nav-open .side-nav {
        opacity: 1;
        left: 0;
        visibility: visible;
        width: 45%;
    }

    .main-image img {
        width: 380px;
    }

    .left {
        position: absolute;
        left: 46px;
        top: 150px;
        width: 30%;
        bottom: 0;
        opacity: 0;
        right: 0;
        padding: 15px;
        visibility: hidden;
        z-index: 999;
        background-color: #fff;
        height: fit-content;
    }

    .side-menu-open .left {
        opacity: 1;
        top: 150px;
        left: 46px;
        visibility: visible;
        width: 30%;
        padding: 15px;
        transition: all 0.5s ease-in-out;
        height: fit-content;
    }

    .right {
        display: block;
        position: relative;
    }

    .tab-pane {
        padding: 30px;
    }

    .wish-list-selector select {
        width: 45%;
    }

    .user-btn {
        font-size: 20px;
    }

    .modal {
        position: fixed;
        top: 75px !important;
        left: 23px !important;
    }

    .quantity {
        padding: 0 !important;
    }

    .search-link {
        padding-left: 0px;
        padding-right: 0px;
    }

    .search-product #search-box {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 100px;
        border: 1px solid var(--form-input-outline-color);
        display: block;
    }

    .search-place {
        padding: 5px 10px;
    }

    .zoomContainer {
        left: 0 !important;
        display: none !important;
    }

    .browse-page {
        margin-left: 0 !important;
    }

    .side-nav {
        top: 142px;
    }

    .navbar-light{
        padding: 0 45px !important;
    }

    .go-btn{
        display: inline-block !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 25px;
    }

    .user-list {
        top: 15px;
        right: 10%;
        font-size: 15px;
    }

    .navbar-toggler {
        top: 22px;
        font-size: 15px;
    }

    .slider-content a {
        font-size: 15px;
        padding: 3px 8px;
    }

    .slider-content h1 {
        font-size: 25px;
    }

    .slider-content {
        top: 40%;
    }

    .subscription form input {
        width: 40%;
        border-radius: 0;
        border: 1px solid #000;
    }

    .subscription form input,
    .subscription form button {
        padding: 3px 8px;
        font-size: 15px;
    }

    .subscription p {
        font-size: 15px;
    }

    header,
    main,
    footer {
        padding: 0px 35px;
    }

    .offer-content {
        background-image: url(../images/offer-img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 9px 15px 9px 190px;
    }

    .offer-content h2 {
        font-size: 20px;
    }

    .offer-content p,
    .offer-content a {
        font-size: 13px;
    }

    .campaign-content h2 {
        font-size: 12px;
    }

    .campaign-content a {
        font-size: 8px;
    }

    .side-nav {
        top: 85px;
        /* max-width: 40%; */
    }

    .product-info h4 {
        font-size: 20px;
    }

    .product-info p {
        font-size: 15px;
    }

    .main-image img {
        width: 300px;
    }

    .big-images img {
        display: block;
        width: 300px;
        margin: auto;
    }

    .thumbs img {
        width: 150px;
        padding: 0px 20px;
        display: inline-block !important;
    }

    .images-list li {
        padding: 0px 15px;
    }

    .product-images {
        margin: 20px auto;
    }

    .left {
        top: 135px;
        width: 40%;
    }

    .side-menu-open .left {
        top: 135px;
        width: 40%;
    }

    .tab-pane {
        padding: 30px;
    }

    .wish-list-selector select {
        width: 55%;
    }

    .grid-item,
    .grid-sizer {
        width: 50%;
    }

    .grid-item img {
        width: 100%;
    }

    .look-item-image {
        margin-bottom: 40px !important;
    }

    .item-1 h4,
    .item-2 h4 {
        font-size: 20px;
    }

    #myBtn {
        font-size: 16px;
        line-height: 1;
        height: 45px;
        width: 45px;
        line-height: 45px;
    }

    .breadcrumb {
        display: none;
    }

    .item-1 .row {
        display: flex;
    }

    .look-details-explore {
        height: auto;
        overflow-y: none;
    }
}

@media screen and (max-width: 576px) {
    .slider-content a {
        font-size: 10px;
        padding: 3px 8px;
    }

    .slider-content h1 {
        font-size: 20px;
    }

    .subscription form input {
        width: 40%;
        border-radius: 0;
        border: 1px solid #000;
    }

    .subscription form input,
    .subscription form button {
        padding: 3px 8px;
        font-size: 12px;
    }

    .subscription p {
        font-size: 12px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        font-size: 25px;
    }

    .owl-next,
    .owl-prev {
        top: 40%;
    }

    header,
    main,
    footer {
        padding: 0px 30px;
    }

    .user-list .dropdown-menu.show {
        width: 175px;
        margin-left: -40px;
    }

    .offer-content {
        background-image: url(../images/offer-img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 9px 15px 9px 190px;
    }

    .offer-content h2 {
        font-size: 17px;
    }

    .offer-content p,
    .offer-content a {
        font-size: 10px;
    }

    .campaign-content {
        left: 3%;
    }

    .campaign-content h2 {
        font-size: 12px;
    }

    .campaign-content a {
        font-size: 8px;
    }

    .big-images img {
        display: block;
        width: 250px;
        margin: auto;
    }

    .thumbs img {
        width: 150px;
        padding: 0px 20px;
        position: relative;
    }

    .left {
        top: 135px;
        left: 25px;
        width: 50%;
    }

    .side-menu-open .left {
        top: 135px;
        left: 25px;
        width: 50%;
    }

    .tab-pane {
        padding: 20px;
    }

    .wish-list-selector select {
        width: 55%;
    }

    .user-page,
    .user-page-footer,
    .user-page-header {
        padding: 0px 25px;
    }

    .info h5 {
        font-size: 18px;
    }

    .info label {
        font-size: 12px;
        margin-bottom: 0px !important;
    }

    .info p {
        font-size: 12px;
    }

    .info a {
        font-size: 12px;
    }

    .item-1 h4,
    .item-2 h4 {
        font-size: 18px;
    }

    .item-1 p,
    .item-2 p {
        font-size: 15px;
    }

    .item-1 a,
    .item-2 a {
        font-size: 15px;
    }

    .size {
        font-size: 15px;
    }

    .selector .size-selector .btn-secondary {
        font-size: 15px;
    }

    #myBtn {
        font-size: 16px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }

    #myBtn span {
        display: none;
    }

    .accordion-body {
        padding: 0rem 0.25rem;
    }

    .side-nav {
        height: 100%;
        font-size: 13px;
    }

    .styled-checkbox+label:before {
        width: 18px;
        height: 18px;
    }

    .styled-checkbox:checked+label:after {
        left: 5px;
        top: 6px;
        width: 8px;
        height: 8px;
    }

    .c-color-swatch {
        width: 100%;
        max-width: 250px;
    }

    .c-color-swatch__item {
        display: block;
        height: 18px;
        width: 18px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }

    .c-color-swatch__item span {
        position: relative;
        left: 30px;
    }

    .c-color-swatch__item:hover {
        outline: var(--form-input-outline-color) solid 2px;
        height: 18px;
        width: 18px;
    }

    .c-color-swatch [type=checkbox]:checked+label:after {
        content: "";
        position: absolute;
        vertical-align: center;
        outline: var(--copyright-color) solid 2px;
        height: 25px;
        width: 25px;
        left: 0;
        top: 0;
    }

    .look-details-explore .item-1,
    .look-details-explore .item-2 {
        margin-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .look-details-explore .look-item-image,
    .look-details-explore .look-item-info {
        margin: auto;
        text-align: center;
    }

}

@media screen and (max-width: 430px) {
    .user-list {
        top: 10px;
        right: 15%;
        font-size: 12px;
    }

    .user-list .nav-link {
        padding: 0.5rem 0;
    }

    .user-list .dropdown-menu.show {
        margin-left: -35px;
        width: 150px;
    }

    .navbar-toggler {
        top: 15px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .slider-content {
        top: 35%;
        width: 100%;
    }

    .owl-theme .owl-nav [class*=owl-] {
        font-size: 20px;
    }

    .owl-next,
    .owl-prev {
        top: 35%;
    }

    .slider-content a {
        font-size: 5px;
        padding: 3px 8px;
    }

    .slider-content h1 {
        font-size: 15px;
        margin: 0;
    }

    .subscription form input {
        width: 55%;
        border-radius: 0;
        border: 1px solid #000;
    }

    .subscription form input,
    .subscription form button {
        padding: 3px 8px;
        font-size: 10px;
    }

    .subscription p {
        font-size: 10px;
    }

    .subscription h6 {
        font-size: 15px;
    }

    header,
    main,
    footer {
        padding: 0px 15px;
    }

    .offer-content {
        background-image: url(../images/offer-img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5px 5px 5px 155px;
    }

    .offer-content h2 {
        font-size: 14px;
    }

    .offer-content p,
    .offer-content a {
        font-size: 8px;
    }

    .side-nav {
        top: 75px;
        width: 70%;
    }

    .campaign-content {
        left: 3%;
    }

    .campaign-content h2 {
        font-size: 8px;
    }

    .campaign-content a {
        font-size: 5px;
        padding: 5px 10px;
    }

    .main-image img {
        width: 240px;
    }

    .big-images img {
        display: block;
        width: 200px;
        margin: auto;
    }

    .thumbs img {
        width: 100px;
        padding: 0px 20px;
        position: relative;
    }

    .product-images .owl-item.active {
        width: 50px !important;
    }

    .left {
        top: 125px;
        left: 20px;
        width: 70%;
    }

    .side-menu-open .left {
        top: 125px;
        left: 20px;
        width: 70%;
    }

    .tab-pane {
        padding: 12px;
    }

    .user-page,
    .user-page-footer,
    .user-page-header {
        padding: 0px 20px;
    }

    .wish-list-selector select {
        width: 55%;
        font-size: 11px;
    }

    .wish-list-selector p {
        font-size: 12px;
        margin-left: 20px !important;
    }

    .wishlist-products h4 {
        font-size: 20px;
        margin-top: 5px;
    }

    .wishlist-products .card {
        width: 17rem !important;
    }

    .item-1 p,
    .item-2 p {
        font-size: 13px;
    }

    .item-1 a,
    .item-2 a {
        font-size: 13px;
    }

    #myBtn {
        font-size: 16px;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }

    .search-place {
        width: 75%;
    }

    .wish-list-info input[type=text] {
        padding: 5px;
        font-size: 14px;
    }
}