<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h2>Sign In</h2>
    <form method="post">
        {% if user.is_authenticated %}
        <strong>You Are All Ready Login With This Email {{ user.email }}.</strong><br>
        <a href="{% url 'home' %}" class="btn-link btn">Return to the HomePage</a>
        {% else %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
        <p>Not Acccount? <a href="{% url 'signup' %}">Sign Up</a></p>
        <p>Not Remember Password? <a href="/password_reset">Reset</a></p>
        {% endif %}
    </form>
</body>
</html>