<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>

<body>
    <div class="container jumbotron">
        {% if user.is_authenticated %}
        <strong>You Are AllReady Sign In with This Email {{ user.email }}.</strong><br>
        <a href="{% url 'home' %}" class="btn-link btn">Return to the HomePage</a>
        {% else %}
        <strong class="display-3 mb-4">Forgotten your password? Enter your email address below, and we’ll email
            instructions for setting a new one.</strong>
        <form class="pt-3" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Reset my password" class="btn btn-success">
        </form>
        {% endif %}
    </div>
</body>

</html>