{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Password reset | {{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="signin-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 signin-form">
                    <h3>Password reset</h3>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                        entered.
                        You should receive them shortly.</p>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with,
                        and check
                        your spam folder.</p>
                    <p class="m-2">Already a Remember Password? <a href="{% url 'user:login' %}" class="text-decoration-underline">Sign In.</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
