{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Password reset | {{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="signin-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 signin-form">
                    <h3>Forgot Password</h3>
                    <p>Enter your registered email to get Password reset link.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="{{ form.email.id_for_label }}" class="fw-bold">Email</label>
                        <br>
                        {{form.email|add_class:"rounded-0"}}

                        <p class="warning">By tapping Next, you agree to our <span>
                                <a href="{% url 'website:privacy_policy' %}">Privacy Policy</a></span> and <span>
                                <a href="{% url 'website:terms_conditions' %}">Terms & Conditions.</a></span>
                        </p>

                        <input type="submit" name="submit" value="Send Link" class="btn btn-dark rounded-0">

                        <p class="mt-2">Not an User ?<a href="{% url 'user:signup' %}"
                                class="ps-2 text-decoration-underline">SignUp</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}