<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>

{% block body %}
<main>
    <div class="signin-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 signin-form">
                    <h3>Forgot Password</h3>
                    <p>Enter your registered email to get Password reset link.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="{{ form.email.id_for_label }}" class="fw-bold">Email</label>
                        <br>
                        {{form.email|add_class:"rounded-0"}}

                        <p class="warning">By tapping Next, you agree to our <span><a href="#">Privacy
                                    Policy</a></span> and <span><a href="#">Terms & Conditions.</a></span></p>

                        <input type="submit" name="submit" value="Send Link" class="btn btn-dark rounded-0">

                        <p class="mt-2">Not an User ?<a href="{% url 'user:signup' %}"
                                class="ps-2 text-decoration-underline">SignUp</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>