{% load static admin_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Shopfashion {% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicone-img.png' %}" />
    <link rel="stylesheet" href="{% static 'css/fontaweson.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <style type="text/css">
        img.lazy {
            display: block;

            /* optional way, set loading as background */
            background-image: url("{% static 'images/image-loder.gif' %}");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    </style>
</head>

<body>
    {% header user request %}

    {% with user_liked_product=user.like_product.all %}
        {% block body %}
        {% endblock %}
    {% endwith %}

    <footer class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center subscription">
                    <h6>Join Our Mailing List</h6>

                    <form method="post" class="email-subscribe-form" class="mt-2">
                        {% csrf_token %}
                        <input type="email" name="email_subscribe" autocomplete="off"
                            placeholder="Enter your email here*" required>
                        <input type="submit" class="btn-dark" id="submit" value="Subscribe Now" style="width: 124px;">
                        <p class="text-success m-0 pt-1"></p>
                    </form>
                    <p class="mt-4">&copy; <script>
                            document.write(new Date().getFullYear())
                        </script> by shopfashion.com</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.lazy.min.js' %}"></script>

    {% block exrta-js-file %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
        const email_subscribe_url = '{% url "user:email_subscribe" %}';
        const like_product_url = '{% url "website:like_product" %}';
        const login_url = '{% url "user:login" %}?next={{request.path}}';
    </script>

    {% block custom_js %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>