{% extends "base.html" %}
{% load static %}
{% load static admin_tags %}

{% block title %} {{ view.kwargs.department|title }}'s
{% if not ',' in  request.GET.brand %}{{request.GET.brand}}{% endif %}
{% firstof view.kwargs.subcategory|default_if_none:""|title view.kwargs.category|default_if_none:""|title "" %} |
{{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="browse">

        <div class="row">

            <div class="col-md-3 filter side-nav" id="slide-out sidebarwrapper" data-spy="affix" data-offset-top="205">
                <div class="accordion" id="accordionExample">
                    <h5 class="mx-3">Filters</h5>

                    {% if not view.kwargs.category %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-category" aria-expanded="false"
                                aria-controls="panelsStayOpen-category">
                                Categories ({{categories_list|length}})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-category" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for category in categories_list|order_by:'name' %}
                                    <li class="collections-item">
                                        <label> <a
                                                href="{{ request.path }}{{ category|lower }}?{{request.GET.urlencode}}">{{category|title}}
                                                ({{ category.total_product }})</a></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if not view.kwargs.subcategory and view.kwargs.category %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-subcategory" aria-expanded="false"
                                aria-controls="panelsStayOpen-subcategory">
                                Sub Categories ({{subcategories_list|length}})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-subcategory" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for sub_category in subcategories_list|order_by:'name' %}
                                    <li class="collections-item">
                                        <label> <a
                                                href="{{ request.path }}{{ sub_category|lower }}?{{request.GET.urlencode}}">{{sub_category|title}}
                                                ({{ sub_category.total_product }})</a></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="accordion-item brand">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Brands ({{ filter_brands|length }})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for brand in filter_brands|order_by:'brand_name' %}
                                    <li class="collections-item">
                                        <input type="checkbox" class="styled-checkbox" name="brand"
                                            id="{{ brand.brand_name|title }}"
                                            value="{{ brand.brand_name|title }}"><label
                                            for="{{ brand.brand_name|title }}">
                                            {{ brand.brand_name|title }}
                                            ({{ brand.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item store">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Stores ({{ filter_stors|length }})
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for store in filter_stors|order_by:'merchant__name' %}
                                    <li class="collections-item">
                                        <input type="checkbox" class="styled-checkbox" name="store"
                                            id="{{ store.merchant__name }}" value="{{ store.merchant__name }}"> <label
                                            for="{{ store.merchant__name }}">
                                            {{ store.merchant__name|title }}
                                            ({{ store.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% if filter_colors %}
                    <div class="accordion-item color">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Color ({{filter_colors|length}})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <ul class="colors-list d-flex">
                                    {% for color in filter_colors|order_by:'color_name' %}
                                    <li class="color-item">
                                        <input type="checkbox" class="styled-checkbox" name="color"
                                            id="{{color.color_name}}" value="{{color.color_name}}"> <label
                                            for="{{color.color_name}}"> {{ color.color_name|title }}
                                            ({{ color.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-9 browse-page ms-auto">

                <div id="overlay"></div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'website:browse_department' view.kwargs.department %}">{{ view.kwargs.department|title }}</a>
                        </li>
                        {% if view.kwargs.category %}
                        <li class="breadcrumb-item"><a
                                href="{% url 'website:browse_category' view.kwargs.department view.kwargs.category %}">{{ view.kwargs.category|title }}</a>
                        </li>
                        {% endif %}
                        {% if view.kwargs.subcategory %}
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">
                            {{ view.kwargs.subcategory|title }}
                        </li>
                        {% endif %}
                    </ol>
                </nav>
                <div class="browse-content">
                    <div class="product-catalouge">
                        <h4 class="fw-bold">{{ view.kwargs.department|title }}'s
                            {% if not ',' in  request.GET.brand %}{{request.GET.brand}}{% endif %}
                            {% firstof view.kwargs.subcategory|default_if_none:""|title  view.kwargs.category|default_if_none:""|title "" %}
                        </h4>
                        <a href="#" data-activates="slide-out" class="button-collapse d-lg-none filter-btn"><i
                                class="fas fa-filter pe-2"></i>Filter</a>
                        <p>{{ page_obj.paginator.count }} item{{ page_obj.paginator.count|pluralize }}</p>
                        <div class="products">
                            <ul class="product-list d-flex justify-content-evenly">
                                {% for product in products %}
                                <li class="product-item">
                                    <a href="{% url 'website:product' product.title|slugify product.id %}"
                                        target="_blank">
                                        <div class="card position-relative" style="width: 18rem;">
                                            <img src="{% static 'images/white-background.png' %}"
                                                data-src="{{product.image1.url}}" class="card-img-top lazy"
                                                alt="{{product.image1.url}}">
                                            <div class="card-body">
                                                <a class="position-absolute like-product" value="{{product.id}}"><i
                                                        class="{% if product in user_liked_product %}fa{% else %}far{% endif %} fa-heart"></i></a>
                                                <p class="card-text text-center">{{product}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if is_paginated %}
                <nav aria-label="#" class="my-5">
                    <ul class="pagination pagination-sm justify-content-center">

                        <li class="me-auto" {%if not page_obj.has_previous %} style="visibility: hidden;" {% endif %}>
                            {%if page_obj.has_previous %}
                            <a class="page-link-number" value="{{page_obj.previous_page_number}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Prev</span>
                            </a>
                            {% endif %}
                        </li>

                        <li>
                            <ul class="pagination pagination-sm mx-auto justify-content-center">
                                {% for n in page_obj.paginator.page_range %}
                                {% if page_obj.number|add:'-3' == n %}
                                {# First page #}
                                <li class="page-item"><a class="page-link page-link-number" value="1">1</a></li>
                                {% if n != 1 %}
                                <li class="page-item"><a>&#8943;</a></li>
                                {% endif %}
                                {% elif page_obj.number == n %}
                                {# Current page #}
                                <li class="page-item active"><a class="page-link page-link-number"
                                        value="{{ n }}">{{ n }}</a></li>
                                {% elif page_obj.number|add:'-3' < n and n < page_obj.number|add:'3' %}
                                {# Pages around current page #}
                                <li class="page-item"><a class="page-link page-link-number" value="{{ n }}">{{ n }}</a>
                                </li>
                                {% elif page_obj.number|add:'3' == n %}
                                {# Last page #}
                                {% if n != num_pages %}
                                <li class="page-item"><a>&#8943;</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link"
                                        value="{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages  }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="ms-auto" {% if not page_obj.has_next %} style="visibility: hidden;" {% endif %}>
                            {%if page_obj.has_next %}
                            <a class="page-link-number" value="{{page_obj.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block custom_js %}
<script>
    const product_length = '{{products|length}}';
</script>
<script src="{% static 'js/browse.js' %}"></script>
{% endblock %}