{% extends "base.html" %}
{% load static %}

{% block title %} Home | {{block.super}} {% endblock %}

{% block body %}
    <main>
        <div class="img-slider position-relative">
            <div class="image-slider justify-content-center carousel_slider owl-carousel owl-theme" data-dots="true"
                data-nav="true" data-margin="10" data-loop="true" data-autoplay="false"
                data-responsive='{"0":{"items": "1"}, "767":{"items": "1"}, "1199":{"items": "1"}}'>

                {% for carousel in home_carousels %}
                <div class="slide-1 position-relative">
                    <div class="slider-img position-relative">
                        <img src="{{ carousel.image.url }}" alt="{{carousel}}">
                    </div>
                    <div class="slider-content position-absolute text-center">
                        <h1 class="text-uppercase" style="color:{{ carousel.text_color }};">{{ carousel.title|title }}</h1>
                        <a href="{{ carousel.browse_url }}" class="btn btn-outline-light text-uppercase" style="color:{{ carousel.text_color }};">Shop Now</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="offer mt-5">
            <div class="offer-detail justify-content-center">
                <div class="offer-content">
                    <h2 class="m-0">Congrats to All the Grads!</h2>
                    <p class="mb-2">Celebrate all they've accomplished with the perfect gifts, from Gift Cards to
                        presents at every
                        price. Pick up today—use Curbside Pickup with free gift wrapping.</p>
                    <a href="{% url 'website:home' %}" class="text-decoration-underline">Explore Now</a>
                </div>
            </div>
        </div>


        <div class="recomended my-5">
            <div class="recomended-products">
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>

                    {% for campaign in campaigns %}
                        {% for product in campaign.products.all %}
                        <div class="recomended-item">
                            <a href="{% url 'website:product' product.title|slugify product.id %}">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{product.image1.url}}" class="card-img-top img-fluid"
                                        alt="{{product}}">
                                    <div class="card-body">
                                        <p class="card-text">{{product}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}