{% extends "base.html" %}
{% load static %}

{% block title %} {{product.title}} | {{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="product-details">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'website:browse_department' product.department|lower %}">{{product.department}}</a>
                    </li>
                    <li class="breadcrumb-item text-capitalize" aria-current="page"><a
                            href="{% url 'website:browse_category' product.department|lower product.category|lower %}">{{product.category}}</a>
                    </li>
                    <li class="breadcrumb-item active text-capitalize" aria-current="page"><a
                            href="{% url 'website:browse' product.department|lower product.category|lower product.subcategory|lower %}">{{product.subcategory}}</a>
                    </li>
                </ol>
            </nav>
            <div class="col-md-2 d-flex order-xl-0 order-lg-0 order-md-0 order-sm-2 order-2">
                <div class="product-images">
                    <div class="thumbs">
                        <div id="pr_item_gallery" class="product_gallery_item">
                            <a href="#" class="product_gallery_item active" data-image="{{product.image1.url}}">
                                <img src="{{product.image1.url}}" alt="main-image" class="img-fluid">
                            </a>
                            {% if product.image2 %}
                            <a href="#" class="product_gallery_item" data-image="{{product.image2.url}}">
                                <img src="{{product.image2.url}}" alt="main-image" class="img-fluid">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-xl-2 order-lg-2 order-md-2 order-sm-0 order-0">
                <div class="text-center">
                    <div class="col-md-12 order-xl-2 order-lg-2 order-md-0 order-sm-0 order-0 big-images">
                        <img id="product_img" src="{{product.image1.url}}" data-zoom-image="{{product.image1.url}}"
                            alt="product_img1" />
                    </div>
                </div>
            </div>
            <div class="col-md-5 product-info order-xl-3 order-lg-3 order-md-3 order-sm-3 order-3">
                <h4 class="fw-bold">{{product.title}}</h4>
                <p>{{product.brand}}</p>

                <p>{{product.description|linebreaks}}</p>

                <a href="{{product.redirect_url}}" target="_blank" class="btn btn-dark rounded-0 my-3 buy-now-btn">Buy
                    now from {{product.merchant}}</a>

                <button type="button"
                    class="btn btn-primary d-block wish-list-link text-decoration-underline wishlist-btn px-0"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    + Add to Wish list
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog position-relative">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title" id="exampleModalLabel">Added To Wish List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body pb-0">
                                <div class="tab-content fade show active" id="pills-tabContent">
                                    <div class="wishlist-modal-product-img text-center">
                                        <img src="{{product.image1.url}}" alt="{{product.image1.url}}">
                                    </div>
                                    <h6 class='text-center py-2'>{{product.title}}</h6>

                                    <div class="tab-pane fade py-0" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <p class="mb-1">Choose wish list</p>
                                        <form class="wish-list-info flex-column p-1">
                                            {% csrf_token %}
                                            {% for wishlist in customer_wishlits %}
                                            <div class="form-group">
                                                <input type="radio" class="styled-radio" name="wish-list-name"
                                                    id="{{wishlist.name}}" value="{{wishlist.name}}">
                                                <label for="{{wishlist.name}}">{{wishlist.name|title}}</label>
                                            </div>
                                            {% endfor %}
                                            <div class="form-group">
                                                <input type="radio" class="styled-radio" name="wish-list-name"
                                                    id="create-new-list" value="0">
                                                <label for="create-new-list">Create New list</label>
                                                <input type="text" name="new-wish-list-name" id="new-wish-list-name"
                                                    placeholder="List Name">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer pt-0">
                                <ul class="nav nav-pills mb-3 flex-column text-center w-100 move-wish-list-btn"
                                    id="pills-tab" role="tablist">
                                    <li>
                                        <button class="active position-absolute back-modal-btn"
                                            style="visibility:hidden">
                                            <i class="fal fa-chevron-left"></i> Back</button>
                                    </li>
                                    <div class="move-diffrent-wishlist">
                                        <li class="nav-item py-1">
                                            <button class="btn btn-dark w-100 rounded-0"
                                                data-bs-dismiss="modal">Close</button>
                                        </li>
                                        <li class="nav-item py-1" role="presentation">
                                            <button
                                                class="btn btn-outline-dark w-100 rounded-0 move-diffrent-wishlist-btn">Move
                                                to a
                                                different wish list</button>
                                        </li>
                                    </div>
                                </ul>

                                <ul class="nav nav-pills mb-3 text-center wish-list-info-btn" style="display:none;">
                                    <li class="nav-item py-1 px-2" role="presentation">
                                        <button class="btn btn-outline-dark rounded-0 wishlist-btn-move">Move</button>
                                    </li>
                                    <li class="nav-item py-1 px-2">
                                        <button class="btn btn-dark rounded-0" data-bs-dismiss="modal">Close</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if similer_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">Similar Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "575":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for similer_product in similer_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' similer_product.title|slugify similer_product.id %}"
                            target="_blank">
                            <div class="card position-relative" style="width: 18rem;">
                                <img src="{{similer_product.image1.url}}" class="card-img-top img-fluid"
                                    alt="product-1">
                                <div class="card-body">
                                    <a class="position-absolute like-product"
                                        style="margin-top: 0px; margin-right: 30px;" value="{{similer_product.id}}"><i
                                            class="{% if similer_product in user_liked_product %}fa{% else %}far{% endif %} fa-heart"></i></a>
                                    <p class="card-text text-center">{{similer_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


        {% if recommended_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">Recommended Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "575":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for recommended_product in recommended_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' recommended_product.title|slugify recommended_product.id %}"
                            target="_blank">
                            <div class="card position-relative" style="width: 18rem;">
                                <img src="{{recommended_product.image1.url}}" class="card-img-top img-fluid"
                                    alt="{{recommended_product.image1.url}}">
                                <div class="card-body">
                                    <a class="position-absolute like-product"
                                        style="margin-top: 0px; margin-right: 30px;"
                                        value="{{recommended_product.id}}"><i
                                            class="{% if recommended_product in user_liked_product %}fa{% else %}far{% endif %} fa-heart"></i></a>
                                    <p class="card-text text-center">{{recommended_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if vtov_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">People also view this Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "575":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for vtov_product in vtov_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' vtov_product.title|slugify vtov_product.id %}"
                            target="_blank">
                            <div class="card position-relative" style="width: 18rem;">
                                <img src="{{vtov_product.image1.url}}" class="card-img-top img-fluid" alt="product-1">
                                <div class="card-body">
                                    <a class="position-absolute like-product"
                                        style="margin-top: 0px; margin-right: 30px;" value="{{vtov_product.id}}"><i
                                            class="{% if vtov_product in user_liked_product %}fa{% else %}far{% endif %} fa-heart"></i></a>
                                    <p class="card-text text-center">{{vtov_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block exrta-js-file %}
<script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
{% endblock %}

{% block custom_js %}
<script>
    const wishlist_url = "{% url 'website:wishlist' %}";
    const product_id = "{{product.id}}";
</script>
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}