{% extends "base.html" %}
{% load static %}

{% block title %} {{product.title}} | {{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="product-details">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'website:browse_department' product.department|lower %}">{{product.department}}</a>
                    </li>
                    <li class="breadcrumb-item text-capitalize" aria-current="page"><a
                            href="{% url 'website:browse_category' product.department|lower product.category|lower %}">{{product.category}}</a>
                    </li>
                    <li class="breadcrumb-item active text-capitalize" aria-current="page"><a
                            href="{% url 'website:browse' product.department|lower product.category|lower product.subcategory|lower %}">{{product.subcategory}}</a>
                    </li>
                </ol>
            </nav>
            <div class="col-md-2 d-flex order-xl-0 order-lg-0 order-md-0 order-sm-2 order-2">
                <div class="product-images">
                    <div class="thumbs">
                        <div id="pr_item_gallery" class="product_gallery_item ">
                            <a href="#" class="product_gallery_item active" data-image="{{product.image1.url}}"
                                data-zoom-image="{{product.image1.url}}">
                                <img src="{{product.image1.url}}" alt="main-image" class="img-fluid">
                            </a>
                            {% if product.image2 %}
                            <a href="#" class="product_gallery_item" data-image="{{product.image2.url}}"
                                data-zoom-image="{{product.image2.url}}">
                                <img src="{{product.image2.url}}" alt="main-image" class="img-fluid">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 order-xl-2 order-lg-2 order-md-2 order-sm-0 order-0">
                <div class="text-center">
                    <div class="col-md-12 order-xl-2 order-lg-2 order-md-0 order-sm-0 order-0 big-images">
                        <img id="product_img" src="{{product.image1.url}}" data-zoom-image="{{product.image1.url}} "
                            alt="product_img1" />
                    </div>
                </div>
            </div>
            <div class="col-md-5 product-info order-xl-3 order-lg-3 order-md-3 order-sm-3 order-3">
                <h4 class="fw-bold">{{product.title}}</h4>
                <p>{{product.brand}}</p>

                <p>{{product.description|linebreaks}}</p>

                <!-- <div class="color my-4">
                    <ul class="colors-list d-flex">
                        <li class="color-item">
                            <div class="color">
                                <a href="#"><img src="{% static 'images/color-1.png' %}" alt="color-1"></a>
                            </div>
                        </li>
                        <li class="color-item">
                            <div class="color">
                                <a href="#"><img src="{% static 'images/color-2.png' %}" alt="color-2"></a>
                            </div>
                        </li>
                        <li class="color-item">
                            <div class="color">
                                <a href="#"><img src="{% static 'images/color-3.png' %}" alt="color-3"></a>
                            </div>
                        </li>
                        <li class="color-item">
                            <div class="color">
                                <a href="#"><img src="{% static 'images/color-4.png' %}" alt="color-4"></a>
                            </div>
                        </li>
                    </ul>
                </div> -->

                <a href="{{product.redirect_url}}" target="_blank" class="btn btn-dark rounded-0 my-5 buy-now-btn">Buy
                    now from {{product.merchant}}</a>
                <a class="wish-list-link text-decoration-underline d-block" value={{product.id}}>+ Add to Whish
                    List</a>
                <p></p>
                {% csrf_token %}
            </div>
        </div>

        {% if similer_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">Similar Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for similer_product in similer_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' similer_product.title|slugify similer_product.id %}"
                            target="_blank">
                            <div class="card" style="width: 18rem;">
                                <img src="{{similer_product.image1.url}}" class="card-img-top img-fluid"
                                    alt="product-1">
                                <div class="card-body">
                                    <p class="card-text">{{similer_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}


        {% if recommended_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">Similar Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for recommended_product in recommended_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' recommended_product.title|slugify recommended_product.id %}"
                            target="_blank">
                            <div class="card" style="width: 18rem;">
                                <img src="{{recommended_product.image1.url}}" class="card-img-top img-fluid"
                                    alt="product-1">
                                <div class="card-body">
                                    <p class="card-text">{{recommended_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if vtov_products %}
        <div class="recomended my-5">
            <div class="recomended-products">
                <h4 class="fw-bold text-center">People also view this Products</h4>
                <div class="text-center recomended-list carousel_slider owl-carousel owl-theme" data-dots="false"
                    data-nav="true" data-margin="10" data-loop="true" data-autoplay="true"
                    data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "4"}, "1799":{"items": "6"}}'>
                    {% for vtov_product in vtov_products%}
                    <div class="recomended-item">
                        <a href="{% url 'website:product' vtov_product.title|slugify vtov_product.id %}"
                            target="_blank">
                            <div class="card" style="width: 18rem;">
                                <img src="{{vtov_product.image1.url}}" class="card-img-top img-fluid" alt="product-1">
                                <div class="card-body">
                                    <p class="card-text">{{vtov_product.title}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.wish-list-link', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'website:wishlist' %}",
                    method: 'POST',
                    data: {
                        'product_id' : $(this).attr('value'),
                        'wishlist_type' : 'add'
                    },
                    dataType: 'JSON',
                    headers: {
                        "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (data) {
                        if (data.status) {
                            $(".wish-list-link").next("p").css('color','cadetblue').html(data.message).delay(2000).fadeOut(300);
                        }else{
                            if (data.message == 'login_required'){
                                window.location = "{% url 'user:login' %}?next={{request.path}}";
                            }
                            $(".wish-list-link").next("p").css('color','red').html(data.message).delay(2000).fadeOut(300);
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    },
                });
            });
        });
    </script>
{% endblock  %}