{% extends "base.html" %}
{% load static %}
{% load static admin_tags %}

{% block title %} {{ request.GET.keyword }} | {{ block.super }} {% endblock %}

{% block body %}
<main>
    <div class="browse">
        <div class="row">
            <div class="col-md-3 filter side-nav" id="slide-out sidebarwrapper" data-spy="affix" data-offset-top="205">
                <h5 class="mx-3">Filters</h5>
                <div class="accordion" id="accordionExample">

                    <div class="accordion-item brand">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Brands ({{ filter_brands|length }})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for brand in filter_brands|order_by:'brand_name' %}
                                    <li class="collections-item">
                                        <input type="checkbox" class="styled-checkbox" name="brand"
                                            id="{{ brand.brand_name|title }}"
                                            value="{{ brand.brand_name|title }}"><label
                                            for="{{ brand.brand_name|title }}">
                                            {{ brand.brand_name|title }}
                                            ({{ brand.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item store">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Stores ({{ filter_stors|length }})
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="collections">
                                    {% for store in filter_stors|order_by:'merchant__name' %}
                                    <li class="collections-item">
                                        <input type="checkbox" class="styled-checkbox" name="store"
                                            id="{{ store.merchant__name }}" value="{{ store.merchant__name }}"> <label
                                            for="{{ store.merchant__name }}">
                                            {{ store.merchant__name|title }}
                                            ({{ store.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                
                    {% if filter_colors %}
                    <div class="accordion-item color">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Color ({{filter_colors|length}})
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <ul class="colors-list d-flex">
                                    {% for color in filter_colors|order_by:'color_name' %}
                                    <li class="color-item">
                                        <input type="checkbox" class="styled-checkbox" name="color"
                                            id="{{color.color_name}}"
                                            value="{{color.color_name}}"> <label
                                            for="{{color.color_name}}"> {{ color.color_name|title }}
                                            ({{ color.product_count }})</label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

            <div class="col-md-9 browse-page ms-auto">
                <div class="browse-content">
                    <div class="product-catalouge mt-4">
                        <h4 class="fw-bold">
                            You searched for "{{ request.GET.keyword }}"
                        </h4>
                        <p>{{ page_obj.paginator.count }} item{{ page_obj.paginator.count|pluralize }}</p>
                        <div class="products">
                            <ul class="product-list d-flex justify-content-evenly">
                                {% for product in products %}
                                <li class="product-item">
                                    <a href="{% url 'website:product' product.title|slugify product.id %}"
                                        target="_blank">
                                        <div class="card position-relative" style="width: 18rem;">
                                            <img src="{% static 'images/white-background.png' %}"
                                                data-src="{{product.image1.url}}" class="card-img-top lazy"
                                                alt="{{product.image1.url}}">
                                            <div class="card-body">
                                                <a class="position-absolute like-product" value="{{product.id}}"><i
                                                        class="{% if product in user_liked_product %}fa{% else %}far{% endif %} fa-heart"></i></a>
                                                <p class="card-text text-center">{{product}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if is_paginated %}
                <nav aria-label="#" class="my-5">
                    <ul class="pagination pagination-sm justify-content-center">

                        <li class="me-auto" {%if not page_obj.has_previous %} style="visibility: hidden;" {% endif %}>
                            {%if page_obj.has_previous %}
                            <a class="page-link-number" value="{{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Prev</span>
                            </a>
                            {% endif %}
                        </li>

                        <li>
                            <ul class="pagination pagination-sm mx-auto justify-content-center">
                                {% for n in page_obj.paginator.page_range %}
                                    {% if page_obj.number|add:'-3' == n %}
                                    {# First page #}
                                        <li class="page-item"><a class="page-link page-link-number" value="1">1</a></li>
                                        {% if n != 1 %}
                                            <li class="page-item"><a>&#8943;</a></li>
                                        {% endif %}
                                    {% elif page_obj.number == n %}
                                    {# Current page #}
                                        <li class="page-item active"><a class="page-link page-link-number" value="{{ n }}">{{ n }}</a></li>
                                    {% elif page_obj.number|add:'-3' < n and n < page_obj.number|add:'3' %}
                                    {# Pages around current page #}
                                        <li class="page-item"><a class="page-link page-link-number" value="{{ n }}">{{ n }}</a></li>
                                    {% elif page_obj.number|add:'3' == n %}
                                    {# Last page #}
                                        {% if n != num_pages %}
                                            <li class="page-item"><a>&#8943;</a></li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link page-link-number"
                                                value="{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages  }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="ms-auto" {% if not page_obj.has_next %} style="visibility: hidden;" {% endif %}>
                            {%if page_obj.has_next %}
                            <a class="page-link-number" value="{{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block custom_js %}
<script>
    const product_length = "{{products|length}}";
</script>
<script src="{% static 'js/search-product.js' %}"></script>
{% endblock %}