{% extends "base.html" %}
{% load static %}

{% block title %} Shop The Look | {{block.super}} {% endblock %}

{% block body %}
<main>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
            <li class="breadcrumb-item active text-capitalize" aria-current="page">Shop The Look</li>
        </ol>
    </nav>

    <div class="grid">
        {% for shoplook in shoplooks %}
        <div class="grid-item grid-sizer"><a href="{% url 'website:shoplook_detail' shoplook.title|slugify shoplook.id %}"><img src="{{shoplook.image.url}}"
                    alt="{{ shoplook.title }}"></a></div>
        {% endfor %}
    </div>

</main>
{% endblock %}