{% extends "base.html" %}
{% load static %}

{% block title %} Shop The Look | {{block.super}} {% endblock %}

{% block body %}
<main>
    <div class="product-details">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
                    <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="{% url 'website:shoplook' %}">Shop The Look</a>
                    </li>
                    <li class="breadcrumb-item active text-capitalize" aria-current="page">{{shoplook}}</li>
                </ol>
            </nav>

            <div class="col-md-6 align-items-center">
                <div class="text-center">
                    <div class="col-md-12 big-images">
                        <img id="product_img" src="{{shoplook.image.url}}"
                            data-zoom-image="{{shoplook.image.url}}" alt="{{shoplook}}" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 look-details-explore">
                {% for product in shoplook.products.all %}
                <div class="item-1 my-lg-1 my-md-1 my-sm-3">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="look-item-image">
                                <img src="{{product.image1.url}}" alt="{{product}}">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12 look-item-info">
                            <h4 class="fw-bold">{{product.title}}</h4>
                            <p>{{product.brand}}</p>

                            <a href="{% url 'website:product' product.title|slugify product.id %}" target="_blank"
                                class="text-uppercase btn btn-dark rounded-0 mt-3">Explore More
                                about this Product</a>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}