{% extends "base.html" %}
{% load static %}

{% block title %} Shop The Look | {{block.super}} {% endblock %}

{% block body %}
<main>
    <nav aria-label="breadcrumb" class="shoplook">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'website:home' %}">Home</a></li>
            <li class="breadcrumb-item active text-capitalize" aria-current="page">Shop The Look</li>
        </ol>
    </nav>

    <div class="grid">
        {% for shoplook in shoplooks %}
        <div class="grid-item grid-sizer"><a href="{% url 'website:shoplook_detail' shoplook.title|slugify shoplook.id %}"><img src="{{shoplook.image.url}}"
                    alt="{{ shoplook.title }}"></a></div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="#" class="my-5">
        <ul class="pagination pagination-sm justify-content-center">

            <li class="me-auto" {%if not page_obj.has_previous %} style="visibility: hidden;" {% endif %}>
                {%if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Prev</span>
                </a>
                {% endif %}
            </li>

            <li>
                <ul class="pagination pagination-sm mx-auto justify-content-center">
                    {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number|add:'-3' == n %}
                    {# First page #}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    {% if n != 1 %}
                    <li class="page-item"><a>&#8943;</a></li>
                    {% endif %}
                    {% elif page_obj.number == n %}
                    {# Current page #}
                    <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% elif page_obj.number|add:'-3' < n and n < page_obj.number|add:'3' %}
                    {# Pages around current page #}
                    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% elif page_obj.number|add:'3' == n %}
                    {# Last page #}
                    {% if n != num_pages %}
                    <li class="page-item"><a>&#8943;</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages  }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li class="ms-auto" {% if not page_obj.has_next %} style="visibility: hidden;" {% endif %}>
                {%if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% endif %}


</main>
{% endblock %}